@font-face {
    font-family: 'Cocon';
    src: url('./CoconRegularFont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TanseekModernW20';
    src: url('./TanseekModernW20-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Encode Sans';
    src: url('./EncodeSansNormal-400-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Encode Sans';
    src: url('./EncodeSansNormal-500-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
} 